body {
  font-family: "Open Sans", sans-serif;
  background-color: #FEF7ED;
}

.nav-bar,
.nav-animals.active,
.content-animals {
  background: #FEF7ED;
}

.nav-animals.active {
  color: #f86b58;
  border: 2px solid #f86b58;
  border-bottom: #FEF7ED;
  border-radius: 10px;
}

.content-animals {
  border: 2px solid #f86b58;
  border-radius: 10px;
}

.content-font {
  font-family: "Open Sans", sans-serif;
  color: #3A54B4;
}

.nav-icon {
  width: 24px
}

.title-font {
  font-family: "Playwrite CU", cursive;
  color: #3A54B4;
}

#header .nav .nav-link.active {
  color: #f86b58;
}

.nav-btn {
  background: #3A54B4;
  transition: .5s;
}

.nav-btn:hover {
  background: #8896CD;
}

.image-dog {
  width: 100%;
}

.bg-overlay {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #8896CD;
  border-radius: 50%;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

#about,
#avaible-animals {
  background: #FFF;
}

#about p {
  text-indent: 1.5em;
}